:root {
    --canvasDefault: rgba(255, 255, 255, 0);
    --highLighting: #2c5bf2;
    --listItemBg: rgba(208, 215, 222, 0.48);
    --listBorder: rgba(208, 215, 222, 0.48);
    --listItemHoverBg: rgba(208, 215, 222, 0.32);
    --textDefault: #1f2328;
    --textSubtitle: #6e7781;
    --textCode: #e6e8ef;
}
